* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: $font-main;
    background-color: $background-color;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    max-width: 1440px;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }