// Couleurs
$primary-color: #9b51e0;
$secondary-color: #ffffff;
$text-color: #353535;
$background-color: #F6F6F6;
$footer-background: #121212;
$badge-color: #99E2D0;
$heart-color: #101010;
$heart-full: #9b51e0;

// Polices
$font-main: 'Roboto', sans-serif;